<div class="row g-5 mb-5">
  <figure>
    <img src="{{ site.github.url }}/assets/img/landscape.jpg" alt="Mauna Kea landscape" width="100%">
    <figcaption>Telescopes on the summit of Mauna Kea, viewed from Gemini Observatory.</figcaption>
  </figure>
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">First-author Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p>{{ item.name }} <a href="{{ item.url }}">{{ item.ref }}</a></p>
      {% endfor %}
    {% else %}
      <p>A full list of my publications is available on <a href="https://ui.adsabs.harvard.edu/public-libraries/oFpcy8qfT4-ZyQJYnV3PxQ">ADS</a></p>
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div>
