<div class="row g-5 mb-5">
  <figure>
    <img src="{{ site.github.url }}/assets/img/landscape.jpg" alt="Mauna Kea landscape" width="100%">
    <figcaption>Telescopes on the summit of Mauna Kea, viewed from Gemini Observatory.</figcaption>
  </figure>
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      <h4>First-Author:</h4>
      {% for item in site.data.publications.featured %}
        <div>
          <p>
            {{ item.name }} 
            <br>
            {{ item.authors }}
            <br>
            <a href="{{ item.url }}">{{ item.ref }}</a>
          </p>
        </div>
      {% endfor %}
    {% else %}
      <p>A full list of my publications is available on <a href="https://ui.adsabs.harvard.edu/public-libraries/oFpcy8qfT4-ZyQJYnV3PxQ">ADS</a></p>
      <h4>First-Author:</h4>
      {% for item in site.data.publications.featured %}
      <div>
        <p>
          {{ item.name }} 
          <br>
          {{ item.authors }}
          <br>
          <a href="{{ item.url }}">{{ item.ref }}</a>
        </p>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
