---
layout: default
---

{{ content }}

<img src="{{ site.github.url }}/assets/img/noirlab2228b.jpg" alt="Contact" width="100%">

<p>
    <i>International Gemini Observatory/NOIRLab/NSF/AURA/M. Zamani; NASA/ESA</i>
</p>

<p>In 2021, I led a large, international team that discovered a new kilonova following a long-duration gamma-ray burst. The above image shows our discovery and follow-up with Hubble (P.I. Rastinejad) and Gemini. Our analysis found that a mass of heavy elements equal to 5 percent of the Sun was produced. </p>

<p>More Coming Soon!</p>