---
layout: default
---

{{ content }}
<div class="row g-5 mb-5">
    <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/noirlab2228b.jpg" alt="Contact" width="100%">
        <p>
            <i>International Gemini Observatory/NOIRLab/NSF/AURA/M. Zamani; NASA/ESA</i>
        </p>
    </div>
    <div class="col-md-6">
        <p>In 2021, I led a large, international team that discovered a new kilonova following a long-duration gamma-ray burst. At first, this kilonova seemed impossible as it was not found following a short GRB (durations less than 2 seconds), but rather a fifty-second GRB. Theory up to that point predicted that the small masses released in neutron star mergers could only power GRBs lasting, at most, a few seconds. This broke with the decades-long-held GRB paradigm that connected short GRBs to neutron star mergers and long GRBs (durations greater than 2 seconds) to the explosions of massive stars, and gave rise to a new class of events. This image shows our discovery and follow-up with Hubble (P.I. Rastinejad) and Gemini Observatory. </p>
    </div>
</div>


<p>More Coming Soon!</p>