---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <p>My full C.V. is available here:</p>
    <p><a href="{{ site.github.url }}/assets/JCR_CV_Sept5_2024.pdf">JCR_CV_Sep5_2024</a></p>
  </div>
  <div class="col-md-6">
    <figure>
      <img src="{{ site.github.url }}/assets/img/GRB211211Apt.jpg" alt="grb211211a" width="100%">
      <figcaption>Artist's impression of the neutron star merger preceding GRB 211211A. Image Credit: A. Simonnet (Sonoma State University) / NASA's Goddard Space Flight Center</figcaption>
    </figure>
  </div>
</div>
