---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <p>I am a <a href="https://www.tgs.northwestern.edu/funding/fellowships-and-grants/internal-fellowships-grants/presidential-fellowship-winners/fellowship-winners.html">Presidential Fellow</a> and Astronomy Ph.D. Candidate at Northwestern University.</p>
    <h3 class="fw-bold">Research</h3>
    <p>I leverage rapid-response observations from premiere telescopes (like Gemini-North Observatory, pictured here!) to study the astrophysical origins of the heavy elements, including silver and gold. My research aims to answer questions such as: 
      <i>What are the explosions that create heavy elements? What can these explosions teach us about black holes and neutron stars? When did the heavy elements - including those necessary for life on Earth - enter our Universe?</i>
    </p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}
