---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Welcome!</h3>
    <p>I am a <a href="https://www.tgs.northwestern.edu/funding/fellowships-and-grants/internal-fellowships-grants/presidential-fellowship-winners/fellowship-winners.html">Presidential Fellow</a> and Astronomy Ph.D. Candidate in the 
      Center for Interdisciplinary Exploration and Research in Astrophysics (<a href="https://ciera.northwestern.edu">CIERA</a>) and Department of Physics and Astronomy at Northwestern University. 
      Starting in September 2025, I will begin a NASA Hubble Fellowship Program Einstein Fellowship at the University of Maryland.
      I am also an active member of the Searches After Gravitational Waves Using ARizona Observatories (<a href="https://saguaro-mma.github.io">SAGUARO</a>) Collaboration.</p>
    <h3 class="fw-bold">Research</h3>
    <p>I leverage rapid-response observations from premier telescopes (like Gemini-North Observatory, pictured here!) to study the astrophysical origins of the heavy elements, including silver and gold. My research aims to answer questions such as: 
      <i>
        <ul>
          <li>What are the explosions that create heavy elements?</li>
          <li>What can these explosions teach us about black holes and neutron stars?</li>
          <li>How do the explosions' properties, like mass and composition, connect to their high-energy or gravitational wave features?</li>
        </ul>
      </i>
    </p>
  </div>
  <div class="col-md-6">
    <figure>
      <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
      <figcaption>In front of Gemini-North Observatory</figcaption>
    </figure>
  </div>
</div>

{% include publications.html %}
