---
layout: default
---

<div class="row g-5 mb-5">
    <div>
        <figure>
            <img src="{{ site.github.url }}/assets/img/landscape.jpg" alt="Mauna Kea landscape" width="100%">
            <figcaption>Telescopes on the summit of Mauna Kea, viewed from Gemini Observatory.</figcaption>
        </figure>
    </div>
    <div>
        <h3 class="fw-bold border-bottom pb-3 mb-5">About</h3>
        <p>I am currently a postdoctoral fellow at the University of Maryland. In 2025 I earned my PhD in Astronomy from Northwestern University, where I worked with Prof. Wen-fai Fong. In 2019, I graduated from the University of Connecticut, where I double-majored in Physics and Human Rights, and minored in Mathematics and Astrophysics.</p>
        <p>I am Chinese-Iranian-American and grew up in two beautiful New England towns: Old Saybrook, Connecticut, and Sudbury, Massachusetts. I happy to be back on the East Coast in Washington D.C. for my postdoc, and enjoying its many free museums. In my free time, I enjoy exploring said museums, running, climbing, hiking, and trying new recipes/scattered directions from my grandmother.</p>
    </div>
</div>