---
layout: default
---

<div class="row g-5 mb-5">
    <div>
        <img src="{{ site.github.url }}/assets/img/landscape.jpg" alt="Mauna Kea landscape" width="100%">
    </div>
    
    <h3 class="fw-bold border-bottom pb-3 mb-5">About</h3>

    <p>I am a PhD candidate at Northwestern University, where I work with Prof. Wen-fai Fong. In 2019, I graduated from the University of Connecticut, where I double-majored in Physics and Human Rights, and minored in Mathematics and Astrophysics.</p>

    <p>I grew up in two beautiful New England towns: Old Saybrook, Connecticut, and Sudbury, Massachusetts. Though the Midwest's flatness took some getting used to, I enjoy living in Chicago and experiencing the vibrant comedy, unique neighborhoods and beautiful lakefront that the city has to offer. I am Chinese-Iranian-American, and like to try new recipes/scattered directions from my grandmother from these cultures in my free time.</p>
</div>